<!DOCTYPE html>

<title>{{ article.title }}</title>

{% block body %}

    <h1>Détail de la pizza</h1>

    <div class="cont ">
                <h3>{{ article.title }}</h3>
                <h5>Contenu de la pizza :</h5>
                <p>{{ article.description }}</p>
                <p><b>{{ article.price }}</b></p>
    </div>
    <img class="imageDimention" src="{{ asset('./ArticleImages/'~article.title~'.png')}}" >

    <a href="{{ path('article_index') }}">Retour à la liste</a>
{% endblock %}
